// ---
// about
// ---

// 👇 about 영역 전체
.about {
  position: relative;
  width: 100%;
  background-color: #fff;

  &__inner {
    position: relative;
    width: inherit;
    max-width: $width-desktop;
    margin: 0 auto;
    padding: 0 $padding-md 160px;

    @include res--tablet {
      padding: 0 $padding-sm 140px;
    }
    @include res--mobile {
      padding: 0 $padding-sm 120px;
    }
  }

  // 👇 커다란 소개문
  &__title {
    position: absolute;
    top: 0;
    right: $padding-md;
    margin-top: 120px;
    text-align: right;
    font-size: 46px;
    font-weight: $fw-r;
    line-height: 1.74;

    @include res--laptopSM {
      font-size: 40px;
    }
    @include res--tablet {
      top: 170px;
      right: $padding-sm;
      font-size: 35px;
    }
    @include res--mobile {
      top: 200px;
      font-size: 28px;
    }

    &-accent {
      display: inline-block;
      position: relative;
      font-weight: $fw-r;

      &:after {
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: -10px;
        display: block;
        width: 100%;
        height: 2px;
        content: "";
        background-color: $c-black;

        @include res--mobile {
          margin-top: -8px;
        }
      }
    }
  }

  // 👇 단락으로 이뤄진 소개문
  &__text {
    position: relative;
    margin-top: 90px;
    font-size: 19px;
    letter-spacing: -0.2px;
    line-height: 1.95;

    @include res--laptopSM {
      font-size: 18px;
    }
    @include res--tablet {
      margin-top: 180px;
      font-size: 17px;
    }
    @include res--mobile {
      font-size: 16px;
    }

    &-item {
      margin-top: 40px;
    }

    &-item:first-child {
      margin-top: 0;
    }
  }
}

// 👇 프로필 영역
.profile {
  z-index: 1;
  top: -100px;
  position: relative;
  font-size: 38px;

  @include res--tablet {
    font-size: 36px;
  }

  @include res--mobile {
    top: -100px;
  }

  &__photo {
    position: relative;
    width: 398px;
    height: 330px;
    @include bgi("profile-v2");
    background-position: 20% 50%;
    background-size: 110%;

    @include res--laptopSM {
      width: 360px;
      height: 298px;
    }

    @include res--tablet {
      width: 420px;
      height: 348px;
    }
    @include res--mobile {
      width: 100%;
    }

    &:after {
      position: absolute;
      left: -14px;
      top: -14px;
      display: block;
      width: inherit;
      height: inherit;
      content: "";
      border: 2px solid #ffdb45;

      @include res--mobile {
        display: none;
      }
    }
  }

  &__nickname {
    display: inline-block;
    @include font-mont;
    font-weight: $fw-b;
  }

  &__name {
    display: inline-block;
    font-size: 45%;
    margin-left: 0.3em;
    color: #747474;
  }
}
