// ---
// blog
// ---

// 👇 blog 영역
.blog {
  position: relative;
  background-color: #fff;

  &__inner {
    position: relative;
    max-width: $width-desktop;
    margin: 0 auto;
    padding: 230px $padding-md 270px;

    @include res--tablet {
      padding: 190px $padding-sm 180px;
    }
  }

  &__title {
    margin-bottom: 120px;
    font-size: 52px;
    font-weight: $fw-r;
    text-align: center;

    @include res--laptopSM {
      font-size: 48px;
    }
    @include res--tablet {
      font-size: 41px;
      margin-bottom: 90px;
    }
    @include res--mobile {
      font-size: 36px;
      margin-bottom: 60px;
    }
  }

  .icon {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-left: 4px;
    background-size: 100%;
    @include res--mobile {
      margin-left: 2px;
      width: 32px;
      height: 32px;
    }
  }

  &__from {
    display: block;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: right;
    color: rgb(189, 189, 189);

    .blog__anchor:hover {
      text-decoration: underline;
      color: $c-blue;
    }
  }
}

.blog-list {
  position: relative;
  width: 100%;

  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 70px;

  @include res--tablet {
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  &__item {
    position: relative;
    border: solid 1px #d9d9d9;
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0px 20px 30px -2px rgba(20, 20, 20, 0.12);

      .blog-list__title {
        text-decoration: underline;
      }
    }

    &:nth-child(n + 9) {
      display: none;
    }

    @include res--tablet {
      &:nth-child(n + 6) {
        display: none;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 260px;
    background-size: cover;
    background-position: 50%;

    @include res--laptop {
      height: 210px;
    }

    @include res--mobile {
      height: 180px;
    }
  }

  &__info {
    padding: 30px;
    font-size: 17px;

    @include res--tablet {
      padding: 20px;
      font-size: 15px;
    }
  }

  &__title {
    display: block;
    margin-bottom: 6px;
    font-size: inherit;
    @include ellipsis;
  }

  &__date {
    font-size: 13px;
    color: rgb(116, 116, 116);
  }
  // min-height: 1000px;

  // $_height: 520px;
  // $_margin: 220px;

  // &__item {
  //   position: relative;
  //   width: 890px;
  //   margin: 0 auto 130px;
  //   position: relative;

  //   &:last-child {
  //     margin-bottom: 340px;
  //   }

  //   @include res--laptop {
  //     width: 790px;
  //   }
  //   @include res--laptopSM {
  //     width: 720px;
  //   }
  // }

  // @include res--tablet {
  //   &__item {
  //     width: calc(100% - 60px);
  //   }

  //   &__item:first-child,
  //   &__item:nth-child(2),
  //   &__item:nth-child(3) {
  //     margin-left: auto;
  //     margin-bottom: 90px;
  //   }
  // }

  // @include res--mobile {
  //   &__item {
  //     width: 100%;
  //   }
  // }
}
