// ---
// footer
// ---

.footer {
  position: relative;
  background-color: #fff;
  font-weight: $fw-b;
  @include font-mono;

  &__inner {
    position: relative;
    max-width: 1600px;
    font-size: 15px;
    margin: 0 auto;
    padding: 0 $padding-md 18px;
    @include flexbox();
    @include justify-content(space-between);

    @include res--tablet {
      font-size: 14px;
      padding: 0 $padding-sm 20px;
    }
    @include res--mobile {
      @include flex-direction(column);
    }
  }

  &__copyright {
    position: absolute;
    left: 50%;
    bottom: 24px;
    transform: translateX(-50%);
    text-align: center;
    color: #adadad;
    letter-spacing: 0.04rem;
    @include res--mobile {
      position: relative;
      transform: translateX(0);
      left: 0;
      order: 1;
    }
  }

  &__madeby {
    margin-bottom: 6px;
    font-size: 95%;
    color: #474747;
    text-align: right;
    letter-spacing: 0.03rem;
    @include res--mobile {
      text-align: center;
      letter-spacing: 0.065rem;
      margin-bottom: 4px;
    }
  }
}

.sns {
  @include res--mobile {
    text-align: center;
    margin-bottom: 8px;
  }
  &__link {
    display: inline-block;
    margin-right: 22px;
    cursor: pointer;

    @include res--mobile {
      width: 25px;
      height: 25px;
      margin-right: 19px;

      &:last-child {
        margin-right: 0;
      }
    }

    &--blog {
      width: 35px;
      height: 17px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: icon(sns-blog, "333333");

      &:hover {
        opacity: 0.6;
      }
    }

    &--github {
      width: 54px;
      height: 16px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: icon(sns-github, "333333");

      &:hover {
        opacity: 0.6;
      }
    }
  }
}
