// ---
// layout - history
// ---

.history {
  // 👆 쿠폰 내역, 포인트 내역 등 내역 부분

  padding-bottom: 50px;

  &-item {
    // 👆 각 내역 아이템 (반복됨)
    font-weight: $fw-r;
    width: 100%;
    padding: 25px 20px;
    border-bottom: 1px solid $c-line;

    //laptop
    @include res--laptop {
      padding: 30px;
    }

    &:first-child {
      border-top: 1px solid $c-line;
    }

  }

  &-title {
    // 👆 내역 타이틀 (쿠폰 이름 등)
    display: block;
    margin-top: 16px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: $fw-m;
    line-height: 1.47;
    letter-spacing: -0.15px;
    color: $c-black;

    //laptop
    @include res--laptop {
      font-size: 18px;
    }
  }

  &-small {
    // 👆 쿠폰일 때 보여주는 쿠폰 혜택
    font-size: 13px;
    margin-left: 4px;

    //laptop
    @include res--laptop {
      font-size: 15px;
    }
  }

  &-cupon-number {
    // 👆 쿠폰일 때 보여주는 쿠폰 번호
    display: block;
    font-size: 11px;
    line-height: 1.55;
    letter-spacing: 0.3px;
    color: #bebebe;
    @include ellipsis();

    //laptop
    @include res--laptop {
      font-size: 13px;
    }
  }

  &-bottom {
    // 👆 리스트 하단 부분 (병렬 처리)
    margin-top: 8px;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(wrap);
  }

  &-name {
    // 👆 하단부 관련 상품 이름
    font-size: 13px;
    line-height: 1.46;
    color: #5f5f5f;
    max-width: 60%;
    word-break: keep-all;

    //laptop
    @include res--laptop {
      font-size: 15px;
    }
  }

  &-status {
    // 👆 하단부 스테이터스
    font-weight: $fw-m;

    &.-cupon {
      // 🙌 쿠폰일 때
      font-size: 14px;

      //laptop
      @include res--laptop {
        font-size: 15px;
      }
    }

    &.-used {
      // 🙌 사용한 쿠폰인 경우
      color: #ff5461;
    }

    &.-cancled {
      // 🙌 취소한 쿠폰인 경우
      color: #343434;
    }

    &.-point {
      // 🙌 포인트일 때
      font-size: 15px;

      //laptop
      @include res--laptop {
        font-size: 16px;
      }
    }
  }


  .list-empty {
    // 👆 쿠폰/포인트의 내역이 없을 때
    margin: 40px auto 0px;
    padding: 0 20px;
    text-align: center;
    font-size: 13px;
    line-height: 1.6;
    font-weight: $fw-r;
    color: #5f5f5f;

    @include res--laptop {
      font-size: 14px;
    }

    &:before {
      // 👆 엄빠 이미지
      opacity: 0.75;
      display: block;
      content: '';
      width: 130px;
      height: 210px;
      @include bgi("char/char-momdad");
      background-size: 100%;
      margin: 0 auto 35px;

      @include res--laptop {
        width: 170px;
        height: 275px;
      }
    }
  }

}


.my-point {
  // 👆 나의 포인트 정보
  padding: 22px 20px;
  font-size: 14px;
  font-weight: $fw-m;
  background-color: #f6f6f6;
  border-top: 1px solid #cecece;

  //laptop
  @include res--laptop {
    font-size: 17px;
    padding: 25px 30px;
  }
}