// ---
// layout - history
// ---

.history {
  // π‘† μΏ ν° λ‚΄μ—­, ν¬μΈνΈ λ‚΄μ—­ λ“± λ‚΄μ—­ λ¶€λ¶„

  padding-bottom: 50px;

  &-item {
    // π‘† κ° λ‚΄μ—­ μ•„μ΄ν… (λ°λ³µλ¨)
    font-weight: $fw-r;
    width: 100%;
    padding: 25px 20px;
    border-bottom: 1px solid $c-line;

    //laptop
    @include res--laptop {
      padding: 30px;
    }

    &:first-child {
      border-top: 1px solid $c-line;
    }

  }

  &-title {
    // π‘† λ‚΄μ—­ νƒ€μ΄ν‹€ (μΏ ν° μ΄λ¦„ λ“±)
    display: block;
    margin-top: 16px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: $fw-m;
    line-height: 1.47;
    letter-spacing: -0.15px;
    color: $c-black;

    //laptop
    @include res--laptop {
      font-size: 18px;
    }
  }

  &-small {
    // π‘† μΏ ν°μΌ λ• λ³΄μ—¬μ£Όλ” μΏ ν° ννƒ
    font-size: 13px;
    margin-left: 4px;

    //laptop
    @include res--laptop {
      font-size: 15px;
    }
  }

  &-cupon-number {
    // π‘† μΏ ν°μΌ λ• λ³΄μ—¬μ£Όλ” μΏ ν° λ²νΈ
    display: block;
    font-size: 11px;
    line-height: 1.55;
    letter-spacing: 0.3px;
    color: #bebebe;
    @include ellipsis();

    //laptop
    @include res--laptop {
      font-size: 13px;
    }
  }

  &-bottom {
    // π‘† λ¦¬μ¤νΈ ν•λ‹¨ λ¶€λ¶„ (λ³‘λ ¬ μ²λ¦¬)
    margin-top: 8px;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(wrap);
  }

  &-name {
    // π‘† ν•λ‹¨λ¶€ κ΄€λ ¨ μƒν’ μ΄λ¦„
    font-size: 13px;
    line-height: 1.46;
    color: #5f5f5f;
    max-width: 60%;
    word-break: keep-all;

    //laptop
    @include res--laptop {
      font-size: 15px;
    }
  }

  &-status {
    // π‘† ν•λ‹¨λ¶€ μ¤ν…μ΄ν„°μ¤
    font-weight: $fw-m;

    &.-cupon {
      // π™ μΏ ν°μΌ λ•
      font-size: 14px;

      //laptop
      @include res--laptop {
        font-size: 15px;
      }
    }

    &.-used {
      // π™ μ‚¬μ©ν• μΏ ν°μΈ κ²½μ°
      color: #ff5461;
    }

    &.-cancled {
      // π™ μ·¨μ†ν• μΏ ν°μΈ κ²½μ°
      color: #343434;
    }

    &.-point {
      // π™ ν¬μΈνΈμΌ λ•
      font-size: 15px;

      //laptop
      @include res--laptop {
        font-size: 16px;
      }
    }
  }


  .list-empty {
    // π‘† μΏ ν°/ν¬μΈνΈμ λ‚΄μ—­μ΄ μ—†μ„ λ•
    margin: 40px auto 0px;
    padding: 0 20px;
    text-align: center;
    font-size: 13px;
    line-height: 1.6;
    font-weight: $fw-r;
    color: #5f5f5f;

    @include res--laptop {
      font-size: 14px;
    }

    &:before {
      // π‘† μ—„λΉ  μ΄λ―Έμ§€
      opacity: 0.75;
      display: block;
      content: '';
      width: 130px;
      height: 210px;
      @include bgi("char/char-momdad");
      background-size: 100%;
      margin: 0 auto 35px;

      @include res--laptop {
        width: 170px;
        height: 275px;
      }
    }
  }

}


.my-point {
  // π‘† λ‚μ ν¬μΈνΈ μ •λ³΄
  padding: 22px 20px;
  font-size: 14px;
  font-weight: $fw-m;
  background-color: #f6f6f6;
  border-top: 1px solid #cecece;

  //laptop
  @include res--laptop {
    font-size: 17px;
    padding: 25px 30px;
  }
}