.js-visual-area {
  outline: 4px solid darkmagenta;
  width: 100%;
  height: 100vh;
}

.fixed {
  z-index: -99;
  position: fixed !important;
}

// #visual {
//   position: fixed;
// }

// .about {
//   top: 100vh;
// }
