// ---
// modal
// ---

// 👇 모달 영역 전체
.modal {
  z-index: $z-modal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 400ms, 0s;
}

// 👇 딤 (검정 배경)
.modal__dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.45);
}

// 👇 모달 내 요소들을 정렬하는 컨테이너
.modal__container {
  width: 100%;
  height: 100%;
  @include center();
}

// 👇 흰색의 모달 바탕
.modal__body {
  position: relative;
  width: calc(100vw - 40px);
  max-width: 1620px;
  min-height: 188px;
  padding: 60px 20px 20px;
  background-color: #ffff;
  border-radius: 6px;
  box-shadow: 0 5px 32px 0 rgba(15, 15, 15, 0.15);
  border: 1px solid #c7c7c7;

  @include res--tablet {
    width: calc(100vw - 60px);
    padding-left: 15px;
    padding-right: 15px;
  }

  .btn-modal-close {
    // 👆 모달 닫기 버튼
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-size: 24px 20px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-image: icon(cancle, "333333");

    &:hover {
      background-image: icon(cancle, "ffba00");
    }
    @include res--mobile {
      width: 20px;
      height: 20px;
      background-size: 20px 18px;
      top: 20px;
      right: 20px;
    }
  }
}

// 👇 모달의 실질 콘텐츠 영역
.modal__content {
  overflow-y: auto;
  padding-right: 4px;
  height: 80vh; // common.js에서 실제 높이를 잡고 있음
  max-height: 920px;
}

// 👇 모달이 열렸을 때
.modal.modal--opened {
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 400ms, 0s;
  .modal-body {
    animation: slideInUp 0.3s 50ms;
    animation-fill-mode: backwards;
  }
}

// 👇 이미지 부분
.img-codes {
  display: block;
  width: 100%;
}

// 👇 리얼 코드 부분
.real-code {
  width: 100%;
  padding-top: 100px;
  text-align: center;
  background-color: #faf7f4;

  &__text {
    font-size: 18px;

    @include res--mobile {
      font-size: 16px;
    }
  }

  &__btn {
    display: inline-block;
    margin: 28px auto 100px;
    transform: scale(0.9);
    @include res--mobile {
      transform: scale(0.84);
    }
  }

  &__footer {
    width: 100%;
    font-size: 14px;
    color: #fff;
    @include font-mont;
    padding: 14px 0;
    background-color: $c-black;
    @include res--mobile {
      font-size: 13px;
    }
  }
}
