// ---
// modal
// ---

.modal {
  // 👆 모달 요소
  z-index: $z-modal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  transition-property: opacity, visibility;
  transition-delay: 100ms;
}

.modal__dim {
  // 👆 모달 딤
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.modal__container {
  // 👆 모달 내 요소들을 정렬하는 컨테이너
  width: 100%;
  height: 100%;
  @include center();
}

.modal__body {
  // 👆 흰색의 모달 바탕
  position: relative;
  width: calc(100vw - 40px);
  max-width: 1620px;
  min-height: 188px;
  padding: 60px 20px 20px;
  background-color: #ffff;
  border-radius: 6px;
  box-shadow: 0 5px 32px 0 rgba(15, 15, 15, 0.15);
  border: 1px solid #c7c7c7;

  // animation: slideOutDown 0.3s;
  // animation-fill-mode: forwards;

  @include res--tablet {
    width: calc(100vw - 60px);
    padding-left: 15px;
    padding-right: 15px;
  }

  .btn-modal-close {
    // 👆 모달 닫기 버튼
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-size: 24px 20px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-image: icon(cancle, "333333");

    &:hover {
      background-image: icon(cancle, "ffba00");
    }
  }
}

.modal__content {
  // 👆 모달의 실질 콘텐츠 영역
  overflow-y: auto;
  padding-right: 4px;
  height: 80vh;
  max-height: 920px;

  //laptop
  @include res--laptop {
    // max-height: 250px;
  }
}

.modal.modal--opened {
  // 🙌 모달 열렸을 때
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  .modal-body {
    animation: slideInUp 0.3s 50ms;
    animation-fill-mode: backwards;
  }
}

.img-codes {
  display: block;
  width: 100%;
}
