// ---
// page
// ---


.page-top {
  // 👆 페이지 최상단에 헤더만큼의 padding 확보
  padding-top: 54px;

  //laptop
  @include res--laptop {
    padding-top: 80px;
  }
}

.page-body {
  // 👆 헤더, 푸터를 제외하고 페이지 전체를 감싸는 요소
}

.page-guide {
  // 👆 일부 페이지에서 보여지는 안내문구
  font-size: 15px;
  line-height: 1.67;
  color: $c-black;
  text-align: center;
  font-weight: $fw-r;
  margin-bottom: 55px;

  //laptop
  @include res--laptop {
    font-size: 17px;
    margin-bottom: 60px;
  }


  .page-guide-btn {
    margin: 15px auto 0;
  }


  .user-mail {
    // 👆 유저 메일정보
    display: inline-block;
    position: relative;
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 1.5;
    color: $c-black;
    font-weight: $fw-m;

    &:after {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #d5d5d5;
      content: "";
    }

    //laptop
    @include res--laptop {
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 1.6;
    }
  }
}

.page-layout {
  // 👆 패딩 잡는 실질적 영역
  padding: 0 20px;

  //laptop
  @include res--laptop {
    padding: 0 40px;
  }
}



.page-sub {
  // 👆 작은 회색 글자
  text-align: center;
  font-size: 14px;
  line-height: 1.57;
  color: $c-gray-normal;
  font-weight: $fw-r;
  width: calc(100% - 40px);
  max-width: $max-width-laptop-md;
  margin: 0 auto;

  //laptop
  @include res--laptop {
    font-size: 15px;
    line-height: 1.6;
    max-width: 980px;
  }

  .page-sub-line {
    display: block;
    width: 100%;
    height: 1px;
    background: #d5d5d5;
    margin: 55px auto;

    //laptop
    @include res--laptop {
      margin: 65px auto;
    }
  }

  .page-sub-btn {
    // 👆 홈 화면으로 돌아가기 버튼 등
    margin: 15px auto 0;


    //laptop
    @include res--laptop {
      margin-top: 20px;
    }

  }

}

.page-sub-details {
  // 👆 회원탈퇴 등 상세내역을 보여줘야하는 경우 (임시)
  font-size: 14px;
  font-weight: $fw-r;
  line-height: 1.57;
  color: #5f5f5f;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

  &+.btn-line {
    margin-top: 0;
  }
}


.btn-page-request {
  // 👆 회원가입 버튼처럼, 한 페이지 내 유일한 버튼인 경우
  margin-top: 55px;
}

.page-sub {
  // 👆 작은 회색 글자
  margin: 80px auto 0;

  &-mail {
    display: block;
    margin-top: 6px;
    font-weight: $fw-m;
  }


  .btn-sub-retry {
    // 👆 메일 다시받기 버튼 등
    display: inline-block;
    margin: 5px auto 0;

    //laptop
    @include res--laptop {
      margin-top: 8px;
    }

  }
}


.login-link {
  // 👆 이메일 찾기, 비밀번호 찾기 부분
  text-align: right;
  margin-top: 13px;

  //laptop
  @include res--laptop {
    margin-top: 15px;
  }

  .login-link-item {
    margin-left: 30px;
    color: $c-gray-light;
    font-weight: $fw-r;
    font-size: 12px;

    &:hover,
    &:focus {
      color: $c-black;
    }

    &:first-child {
      margin-left: 0;
    }

    //laptop
    @include res--laptop {
      margin-left: 25px;
      font-size: 13px;
    }

  }
}

// ===================
// >> 특정 페이지 <<
// ===================

// ----
// 🤟 로그인 전용
// ----
.page-login {

  .form-item {
    // 👆 로그인 화면에서만 폼 상하단 마진 다르게 처리
    margin-top: 0;

    //laptop
    @include res--laptop {
      margin-top: 10px;
    }
  }

  .btn-full {
    margin-top: 20px;

    //laptop
    @include res--laptop {
      margin-top: 25px;
    }
  }

  .page-sub {
    // 👆 회원가입 유도 텍스트
    font-size: 13px;

    //laptop
    @include res--laptop {
      font-size: 14px;
    }
  }


}


// ----
// 🤟 내역 전용
// ----
.page-history {
  max-width: $max-width-laptop-md;
  margin: 0 auto;

  .page-layout {
    padding: 0;
  }

  //laptop
  @include res--laptop {
    max-width: 980px;
  }


  .btn-load-more {
    margin: 30px auto 55px;
  }
}



// ----
// 🤟 문의 전용
// ----
.page-inquiry {
  margin-bottom: -75px;

  .page-layout {
    padding: 0;
  }

  //laptop
  @include res--laptop {
    margin-bottom: -100px;
  }

  .btn-load-more {
    margin: 55px auto 0;
  }

  .btn-full {
    width: calc(100% - 40px);
    max-width: $max-width-laptop-md;

    //laptop
    @include res--laptop {
      max-width: $max-width-mobile;
    }
  }


  .list-empty {
    // 👆 문의 화면에서 내역이 없을 때
    margin: 90px auto 200px;

    @include res--laptop {
      font-size: 14px;
    }

    &:before {
      // 👆 효둥이 이미지
      opacity: 0.75;
      display: block;
      content: '';
      width: 73px;
      height: 147px;
      @include bgi("char/char-dog");
      background-size: 100%;
      margin: 0 auto 30px;

      @include res--laptop {
        width: 84px;
        height: 170px;
      }
    }
  }
}



// ----
// 🤟 에러 전용
// ----
.page-error {
  .page-title .title {
    color: $c-error;

    &:before {
      width: 24px;
      height: 24px;
      border: 2px solid #ff1515;
      border-radius: 50%;
      background-size: 4px;
      background-position: 50%;
      background-image: icon(warning, "ff1515");
      animation-name: shake;
      animation-duration: 0.9s;

      @include res--laptop {
        width: 28px;
        height: 28px;
        background-size: 5px;
      }
    }
  }

  .page-title .title-small {
    color: $c-black;
  }
}


// ----
// 🤟 리뷰 페이지 전용
// ----
.page-review {


  .page-back {
    background-image: icon(arrow-back, "ffffff") !important;
  }

  .button-page-text {
    color: #fff;
  }

  .page-layout {
    padding: 0;
  }

  .page-title {
    position: relative;
    z-index: 10;
    color: #fff;

    &:after {
      opacity: 0;
      visibility: hidden;
    }

    .title {
      color: #fff;

      &:before {
        @include bgi("deco/title-deco-top-white");
      }
    }

    .title-small {
      color: #e0e0e0;
    }
  }

}


// ----
// 🤟 옵션 선택 페이지 전용
// ----
.page-option {
  .form-number-item {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}