// ---
// page title
// ---

.page-title {
  // 👆 대부분의 페이지에서 보여지는 페이지 타이틀
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 45px;
  padding-left: 20px;
  padding-right: 20px;

  //laptop
  @include res--laptop {
    padding-top: 90px;
    padding-bottom: 64px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .title {
    font-size: 27px;
    color: $c-black;
    font-weight: $fw-m;

    &:before {
      display: block;
      background-size: contain;
      @include bgi("deco/title-deco-top");
      content: "";
      margin: 0 auto;
      margin-bottom: 4px;
      width: 24px;
      height: 14px;
    }

    //laptop
    @include res--laptop {
      font-size: 40px;

      &:before {
        width: 28px;
        height: 17px;
      }
    }
  }

  .title-small {
    display: block;
    margin-top: 4px;
    font-size: 13px;
    font-weight: $fw-m;
    line-height: 1.46;
    letter-spacing: -0.26px;
    color: #848484;

    //laptop
    @include res--laptop {
      font-size: 14px;
      margin-top: 4px;
    }
  }

  &:after {
    // 👆 타이틀 아래 삐죽삐죽 장식
    display: block;
    background-size: contain;
    content: "";
    margin: 40px auto 0;
    width: 45px;
    height: 9px;
    background-size: 100%;
    background-image: icon(title-deco-bottom, "d4d4d4");

    @include res--laptop {
      width: 54px;
      height: 11px;
    }
  }

  .page-control {
    // 👆 뒤로가기나 결제취소 등의 버튼
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    padding: 0 20px;

    &-container {
      width: 100%;
      max-width: 1600px;
      margin: 0 auto;
      @include flexbox();
      @include justify-content(space-between);
    }

    @include res--laptop {
      padding: 0 40px;
    }

    .button-page {
      position: relative;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      margin-top: 25px;

      @include res--laptop {
        margin-top: 50px;
        width: 42px;
        height: 28px;
      }

      &.page-back {
        // 👆 뒤로가기 버튼
        background-position: 0 0;
        background-size: 22px 20px;
        background-image: icon(arrow-back, "909090");

        @include res--laptop {
          background-size: 28px 26px;
        }

        .button-page-text {
          left: -8px;
        }
      }

      &.page-cancle {
        // 👆 결제취소 버튼
        background-position: 100% 100%;
        background-size: 20px 20px;
        background-image: icon(cancle, "909090");

        @include res--laptop {
          background-size: 26px 26px;
        }

        .button-page-text {
          left: 8px;
        }
      }

      &:hover {
        .button-page-text {
          opacity: 1;
        }
      }
    }

    .button-page-text {
      // 👆 "뒤로가기" 등의 텍스트 부분
      display: none;
      position: absolute;
      top: 0;
      opacity: 0;
      width: 100%;
      margin-top: 22px;
      padding-top: 10px;
      font-size: 11px;
      transition: opacity 0.2s;

      @include res--laptop {
        display: block;
      }
    }
  }
}