// ---
// work
// ---

// 👇 work 영역 전체
.work {
  position: relative;
  overflow-x: hidden;
  background-color: $c-gray-bg;
  padding-top: 200px;

  @include res--tablet {
    padding-top: 150px;
  }
  @include res--mobile {
    padding-top: 120px;
  }
}

// 👇 skill 영역 전체
.skill {
  &__inner {
    padding: 0 $padding-md;
    @include flexbox();
    @include justify-content(center);

    @include res--tablet {
      padding: 0 $padding-sm;
      display: block;
      text-align: center;
      @include flex-direction(column);
    }
  }

  &__title {
    display: block;
    margin-right: 200px;
    color: $c-black-light;
    font-weight: $fw-r;
    text-align: right;
    font-size: 50px;
    line-height: 1.48;
    letter-spacing: 6.5px;
    @include flex-shrink(0);

    @include res--laptopSM {
      font-size: 46px;
      margin-right: 140px;
    }
    @include res--tablet {
      font-size: 42px;
      text-align: center;
      margin-right: 0px;
      margin-bottom: 90px;
    }
    @include res--mobile {
      font-size: 40px;
      letter-spacing: 5px;
    }
  }
}

// 👇 skill 영역 내 나열 영역
.skill-list {
  margin-top: 10px;

  @include res--tablet {
    display: inline-block;
    text-align: left;
  }

  &__item {
    position: relative;
    font-size: 19px;
    margin-top: 70px;
    padding-left: 30px;

    @include res--laptopSM {
      font-size: 18px;
    }
    @include res--tablet {
      font-size: 17px;
      margin-top: 64px;
    }
    @include res--mobile {
      font-size: 16px;
      word-break: keep-all;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__name {
    display: block;
    margin-bottom: 8px;
    font-weight: $fw-b;
    text-transform: uppercase;
    @include font-mont;

    // 👇 체크 모양 아이콘
    &:before {
      position: absolute;
      top: 6px;
      left: 0;
      display: block;
      content: "";
      width: 16px;
      height: 13px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 100% 0%;
      background-image: icon(check, "333333");

      @include res--laptopSM {
        top: 6px;
      }
    }
  }

  &__desc {
    line-height: 1.68;
    font-size: 98%;
    letter-spacing: -0.19px;

    .small {
      padding: 0 2px;
      letter-spacing: 0.05rem;
      font-size: 65%;
    }
  }
}

// 👇 project 영역 전체
.project {
  &__inner {
    position: relative;
    max-width: 1600px;
    margin: 150px auto 0;
    padding: 0 $padding-md;

    @include res--tablet {
      padding: 0 $padding-sm;
    }
    @include res--mobile {
      margin-top: 100px;
    }
  }

  // 👇 뚝딱뚝딱 글자들 영역
  &__background {
    position: absolute;
    top: 0;
    left: 50%;
    width: 710px;
    height: 1100px;
    transform: rotate(-270deg) translateY(-50%);
    transform-origin: 0 0;
    @include pointer-none;

    @include res--laptopSM {
      margin-left: -100px;
    }

    @include res--tablet {
      width: 900px;
    }
    @include res--mobile {
      left: 0;
      margin-left: 50%;
      height: 100vw;
    }
  }

  &__background-word {
    position: absolute;
    font-size: 40px;
    font-weight: $fw-b;
    letter-spacing: 5.85px;

    color: transparent;
    -webkit-text-stroke: 1px #c1c1c1;

    @include res--tablet {
      font-size: 30px;
    }
    @include res--mobile {
      font-size: 26px;
    }
  }

  // 👇 뚝딱뚝딱 단어들 위치
  $_word-pos-desktop: (
    1: (
      x: 130px,
      y: 80px,
    ),
    2: (
      x: 694px,
      y: 162px,
    ),
    3: (
      x: 370px,
      y: 520px,
    ),
  );

  $_word-pos-tablet: (
    1: (
      x: 220px,
      y: 40px,
    ),
    2: (
      x: 600px,
      y: 180px,
    ),
    3: (
      x: 380px,
      y: 520px,
    ),
  );

  $_word-pos-mobile: (
    1: (
      x: 115px,
      y: 40px,
    ),
    2: (
      x: 250px,
      y: 240px,
    ),
    3: (
      x: 170px,
      y: 560px,
    ),
  );

  @each $key, $value in $_word-pos-desktop {
    $x: map-get($value, x);
    $y: map-get($value, y);

    &__background-word:nth-child(#{$key}) {
      top: $x;
      left: $y;
    }
  }

  @include res--tablet {
    @each $key, $value in $_word-pos-tablet {
      $x: map-get($value, x);
      $y: map-get($value, y);

      &__background-word:nth-child(#{$key}) {
        top: $x;
        left: $y;
      }
    }
  }
  @include res--mobile {
    @each $key, $value in $_word-pos-mobile {
      $x: map-get($value, x);
      $y: map-get($value, y);

      &__background-word:nth-child(#{$key}) {
        top: $x;
        left: $y;
      }
    }
  }

  &__comment {
    margin-top: 6px;
    color: #8b8b8b;
    font-size: 12px;
    text-align: right;
    font-weight: $fw-b;

    @include res--tablet {
      margin-top: 24px;
    }
    @include res--mobile {
      margin-top: 30px;
      font-weight: $fw-r;
      font-size: 12px;
      text-align: center;
    }
  }
}

// 👇 project 영역 내 나열 영역
.project-list {
  z-index: 1;
  position: relative;
  height: 730px;
  max-width: 1100px;
  margin: 0 auto;

  @include res--laptopSM {
    width: 810px;
  }

  @include res--tablet {
    width: calc(100vw - 60px);
    height: 900px;
  }

  $_pos-desktop: (
    1: (
      y: 0,
      x: 220px,
    ),
    2: (
      y: 40px,
      x: 684px,
    ),
    3: (
      y: 310px,
      x: 0,
    ),
    4: (
      y: 260px,
      x: 430px,
    ),
    5: (
      y: 240px,
      x: 930px,
    ),
    6: (
      y: 540px,
      x: 310px,
    ),
    7: (
      y: 490px,
      x: 800px,
    ),
  );

  $_pos-laptopSM: (
    1: (
      y: 0,
      x: 140px,
    ),
    2: (
      y: 30px,
      x: 684px,
    ),
    3: (
      y: 310px,
      x: 0,
    ),
    4: (
      y: 200px,
      x: 370px,
    ),
    5: (
      y: 290px,
      x: 670px,
    ),
    6: (
      y: 540px,
      x: 220px,
    ),
    7: (
      y: 490px,
      x: 500px,
    ),
  );

  $_pos-tablet: (
    1: (
      y: 0,
      x: 22vw,
    ),
    2: (
      y: 120px,
      x: 10vw,
    ),
    3: (
      y: 240px,
      x: 9vw,
    ),
    4: (
      y: 360px,
      x: 18vw,
    ),
    5: (
      y: 480px,
      x: 24vw,
    ),
    6: (
      y: 600px,
      x: 7vw,
    ),
    7: (
      y: 720px,
      x: 8vw,
    ),
  );

  $_pos-mobile: (
    1: (
      y: 10px,
      x: 120px,
    ),
    2: (
      y: 120px,
      x: 70px,
    ),
    3: (
      y: 240px,
      x: 160px,
    ),
    4: (
      y: 360px,
      x: 20px,
    ),
    5: (
      y: 480px,
      x: 140px,
    ),
    6: (
      y: 600px,
      x: 50px,
    ),
    7: (
      y: 720px,
      x: 120px,
    ),
  );

  &__item {
    position: absolute;
    transition: left 0.7s, top 0.7s;
  }

  @each $key, $value in $_pos-desktop {
    $x: map-get($value, x);
    $y: map-get($value, y);

    &__item:nth-child(#{$key}) {
      top: $y;
      left: $x;
    }
  }

  @include res--laptopSM {
    @each $key, $value in $_pos-laptopSM {
      $x: map-get($value, x);
      $y: map-get($value, y);

      &__item:nth-child(#{$key}) {
        top: $y;
        left: $x;
      }
    }
  }

  @include res--tablet {
    @each $key, $value in $_pos-tablet {
      $x: map-get($value, x);
      $y: map-get($value, y);

      @if $key % 2 == 0 {
        &__item:nth-child(#{$key}) {
          top: $y;
          right: $x;
          left: auto;
        }
      } @else {
        &__item:nth-child(#{$key}) {
          top: $y;
          left: $x;
        }
      }
    }
  }

  @include res--mobile {
    @each $key, $value in $_pos-mobile {
      $x: map-get($value, x);
      $y: map-get($value, y);

      @if $key % 2 == 0 {
        &__item:nth-child(#{$key}) {
          top: $y;
          left: 50%;
          right: 0;
          margin-left: #{$x};
        }
      } @else {
        &__item:nth-child(#{$key}) {
          top: $y;
          left: 50%;
          margin-left: -#{$x};
        }
      }
    }
  }

  &__image {
    display: block;
    width: 130px;
    height: 130px;
    background: rgb(150, 126, 126);
    border-radius: 8px;
    box-shadow: 0 20px 30px 0 rgba(65, 58, 58, 0.15);

    @include res--laptopSM {
      width: 120px;
      height: 120px;
      border-radius: 6px;
    }
    @include res--mobile {
      width: 100px;
      height: 100px;
    }
  }

  &__tag {
    margin-top: 14px;
    font-size: 14px;
    font-weight: $fw-b;
    width: 100%;

    @include res--tablet {
      font-size: 13px;
    }

    &-item {
      margin-right: 2px;

      @include res--mobile {
        display: block;
      }
    }

    &-item:before {
      display: inline-block;
      padding-right: 1px;
      content: "#";
      @include font-mont;
    }
  }
}

// 👇 recent 영역
.recent {
  &__inner {
    position: relative;
    max-width: 1600px;
    margin: 198px auto 0;
    padding-bottom: 190px;

    @include res--tablet {
      margin: 140px auto 0;
      padding-bottom: 140px;
    }
    @include res--mobile {
      margin: 120px auto 0;
      padding-bottom: 120px;
    }
  }

  &__title {
    margin-bottom: 80px;
    font-size: 30px;
    letter-spacing: 1px;
    color: #505050;
    font-weight: $fw-r;
    text-align: center;

    @include res--tablet {
      font-size: 28px;
      margin-bottom: 65px;
    }
    @include res--mobile {
      font-size: 22px;
      font-weight: $fw-b;
      margin-bottom: 50px;
      color: #333;
    }
  }

  &__background-word {
    opacity: 0;
    position: absolute;
    top: 250px;
    left: 50%;
    display: block;
    font-weight: $fw-b;
    font-size: 102px;
    color: rgba(8, 8, 8, 0.06);
    text-align: right;
    @include font-mont;
    @include pointer-none;
    @include select-none;

    &:first-child {
      margin-left: -390px;
    }
    &:nth-child(2) {
      margin-top: 110px;
      margin-left: -530px;
    }

    &:last-child {
      text-align: left;
      margin-left: 150px;
      margin-top: 316px;
    }

    @include res--laptopSM {
      font-size: 88px;
      letter-spacing: -1px;

      &:first-child {
        margin-left: -348px;
      }
      &:nth-child(2) {
        margin-top: 86px;
        margin-left: -470px;
      }
    }

    @include res--tablet {
      font-size: 75px;
      &:first-child {
        margin-left: -300px;
        margin-top: 20px;
      }
      &:nth-child(2) {
        margin-top: 100px;
        margin-left: -400px;
      }
      &:nth-child(3) {
        margin-top: 330px;
        margin-left: 120px;
      }
    }
    @include res--mobile {
      opacity: 1;
      font-size: 65px;
      &:first-child {
        margin-top: 20px;
        margin-left: -210px;
        transform: rotate(-90deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        margin-top: 170px;
        margin-left: 40px;
        transform: rotate(90deg);
      }
    }
  }

  &__btn {
    margin: 10px auto 0;

    @include res--mobile {
      margin-top: 20px;
    }
  }
}

// 👇 recent 영역 전용 애니메이션
.ani-recent-show {
  .recent__background-word {
    &:nth-child(1) {
      animation-name: recentShow1;
      animation-duration: 1.1s;
      animation-fill-mode: forwards;
    }
    &:nth-child(2) {
      animation: recentShow1 1.1s;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
    }
    &:nth-child(3) {
      animation: recentShow2 1.1s;
      animation-delay: 0.4s;
      animation-fill-mode: forwards;
    }
  }
}

@include res--mobile {
  .ani-recent-show {
    .recent__background-word {
      animation: none !important;
    }
  }
}

// 👇 모바일 스크린 영역
.screen {
  z-index: 1;
  position: relative;
  top: -20px;
  left: -54px;
  width: 590px;
  height: 800px;
  margin: 0 auto;
  background-size: 100%;
  @include bgi("work-screen-shadow");

  @include res--tablet {
    width: 516px;
    height: 700px;
    left: -44px;
  }
  @include res--mobile {
    width: 428px;
    height: 580px;
    left: -35px;
  }
}
