// ---
// common
// ---

// 👇 SEO용 텍스트 숨기기
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.icon-love {
  display: inline-block;
  animation: heartbeat 2s infinite;
}

.section-connect {
  z-index: $z-section-connect;
  display: block;
  width: 100%;
  max-width: 1600px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  &.section-connect-1 {
    text-align: right;
  }

  @include res--tablet {
    &.section-connect-3,
    &.section-connect-4 {
      text-align: right;
    }
  }

  &__word {
    position: relative;
    display: inline-block;
    font-weight: $fw-l;
    line-height: 2.1;
    letter-spacing: 4.5px;
    color: #adadad;
    font-size: 30px;
    transform: rotate(90deg);

    .section-connect-1 & {
      bottom: 70px;
      right: 36px;
    }
    .section-connect-2 & {
      top: 26px;
      left: 50%;
      margin-left: -105px;
    }
    .section-connect-3 & {
      left: 110px;
      bottom: 110px;
    }
    .section-connect-4 & {
      left: 104px;
      bottom: -14px;
    }

    @include res--laptopSM {
      font-size: 28px;
    }

    @include res--tablet {
      font-size: 24px;
      .section-connect-1 & {
        bottom: 30px;
        right: 0px;
      }
      .section-connect-3 & {
        left: -58px;
        bottom: 100px;
      }
      .section-connect-4 & {
        left: 20px;
        bottom: -10px;
      }
    }
    @include res--mobile {
      font-size: 20px;
      .section-connect-1 & {
        bottom: 30px;
        right: -30px;
      }
      .section-connect-2 & {
        top: 24px;
        margin-left: -84px;
      }
      .section-connect-4 & {
        left: 10px;
        bottom: 22px;
      }
    }
  }
}

.br-tablet {
  display: none;
  @include res--tablet {
    display: block;
  }
}
.br-mobile {
  display: none;
  @include res--mobile {
    display: block;
  }
}

.hide-mobile {
  display: block;
  @include res--mobile {
    display: none;
  }
}

// 스크롤 막을 때 사용
.scroll-disabled {
  height: 100%;
  overflow: hidden;
}

.fixed {
  z-index: -99;
  position: fixed !important;
}

.ani-swing {
  display: inline-block;
  transform-origin: 50% 50%;
  animation: swing 1s infinite;
}
