// ---
// reset
// ---

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
small,
article,
footer,
header,
nav,
address,
section,
ol,
ul,
li,
strong {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  font-style: normal;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

ul,
ol,
li,
dl {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active {
  outline: 0;
}
a:focus {
  opacity: 1;
  outline: 0;
}

a,
button {
  font-family: inherit;
  @include tap-highlight;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  @include font-main;
  border: 0;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  background: none;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

i {
  font-style: normal;
}

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

html {
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%; //1em = 10px로 설정
  font-weight: $fw-r;
}

body {
  position: relative;
  min-height: 100%;
  height: 100%;
  min-width: $min-width;
  overflow-y: auto;
  @include font-main;
  color: $c-black;
  text-align: left;
  font-weight: $fw-r;
  line-height: 1.5;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

.wrap {
  position: relative;
}
