// // ---
// // modules - buttons
// // ---

// 👇 기본 버튼
.btn-line {
  display: block;
  min-width: 190px;
  padding: 16px 20px;
  color: #333;
  border-radius: 4px;
  border: solid 1px #171414;
  cursor: pointer;

  .btn-text {
    display: inline-block;
    font-size: 17px;
    font-weight: $fw-b;
  }

  &:after {
    display: inline-block;
    content: "";
    min-width: 70px;
    height: 1px;
    vertical-align: middle;
    margin-top: -6px;
    margin-left: 11px;
    background-color: #333;
  }

  &:hover {
    color: $c-blue;
    border-color: $c-blue;

    &:after {
      background-color: $c-blue;
    }
  }

  @include res--tablet {
    transform: scale(0.96);
  }

  @include res--tablet {
    transform: scale(0.86);
  }

  &:disabled {
    cursor: default;
    border-color: #ccc;

    .btn-text {
      color: #ccc;
    }
    &:after {
      background-color: #ccc;
    }

    &:hover {
      color: #ccc;
      border-color: #ccc;

      &:after {
        background-color: #ccc;
      }
    }
  }
}

.resume-temp {
  font-size: 12px;
  margin-top: 5px;
  color: #919191;

  @include res--mobile {
    margin-top: 4px;
    transform: scale(0.9);
  }
}
