// ---
// mediaQueries
// ---

// Break Point
$desktop: 1600px;
$laptop: 1280px;
$laptopSM: 980px;
$tablet: 640px;
$mobile: 360px;

// ---------- * ----------

// Desktop
@mixin res--desktop {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}

// Laptop
@mixin res--laptop {
  @media screen and (max-width: #{$desktop - 1}) {
    @content;
  }
}

// LaptopSM
@mixin res--laptopSM {
  @media screen and (max-width: #{$laptop - 1}) {
    @content;
  }
}

// Tablet
@mixin res--tablet {
  @media screen and (max-width: #{$laptopSM - 1}) {
    @content;
  }
}

// Mobile
@mixin res--mobile {
  @media screen and (max-width: #{$tablet - 1}) {
    @content;
  }
}
