// ---
// variables (global)
// ---

// -------
// color
// -------
$c-black: #141414;
$c-black-light: #333333;
$c-gray-dark: #505050;

$c-gray-bg: #fafafa;

$c-blue: #3e87f8;
$c-yellow: #ffba00;

// -------
// * z-index
// -------
$z-header: 200; //헤더
$z-modal: 1150; //모달
$z-section-connect: 100; //섹션 이음말

// -------
// * path
// -------
$path-image: "../images/";

// -------
// * font-weight
// -------
$fw-b: 700;
$fw-r: 400;
$fw-l: 300;

// -------
// * layout
// -------
$min-width: 360px;

$width-max: 2560px;
$width-desktopLG: 1920px;
$width-desktop: 1600px;
$width-laptop: 1280px;

$padding-md: 60px;
$padding-sm: 30px;
