<section class="about">
  <div class="about__inner">
    <div class="profile">
      <div class="profile__photo">
        <span class="blind">프로필 사진</span>
      </div>
      <div class="profile__info">
        <p class="profile__nickname">Nana</p>
        <p class="profile__name">@김나영</p>
      </div>
    </div>
    <h2 class="about__title">
      반갑습니다! 저는<br />
      디자인을 사랑하고<br />
      코드에 열렬히 구애 중인<br />
      <strong class="about__title-accent">웹 퍼블리셔</strong>에요.
    </h2>
    <div id="about-text" class="about__text">
      <p class="about__text-item">
        안녕하세요, 3년차 웹 퍼블리셔 김나영입니다.<br class="hide-mobile" />VS CODE부터 포토샵과 XD, 노션을 자유롭게 넘나들며
        다양한 것을 하고 있어요.
      </p>
      <p class="about__text-item">
        저는 제 일을 좋아해요. 좋아하니까 즐기게 되고, 더 잘하고
        싶어집니다.<br class="hide-mobile" />
        그러다보면 거기에 저만의 특별한 무언가가 담기게 되더라고요.<br />
        전 그게 세상 어디에도 없는 특별한 ‘나다움’이라고 생각합니다.<br class="hide-mobile" />
        그래서 저는 무얼 하든 제 ‘다움’을 듬뿍 담아내려고 해요.
      </p>
      <p class="about__text-item">
        목표를 향해 성큼성큼 나아가는 의지, 끊임없이 솟아오르는 영감, 그리고
        유쾌한 발랄함까지.<br />
        모두 제가 가진 저만의 ‘다움’입니다.
      </p>
      <p class="about__text-item">
        나나라이크라는 이름은 그런 뜻에서 지었습니다.<br />
        좋아하는 것(like)에 다움(-like)을 담는 것.<br />
        제가 정말 잘합니다! 🙌
      </p>
    </div>
  </div>
  <div class="section-connect section-connect-1">
    <span class="section-connect__word">그럼, 이쯤에서 -</span>
  </div>
</section>