<section class="about">
  <div class="about__inner">
    <div class="profile">
      <div class="profile__photo">
        <span class="blind">프로필 사진</span>
      </div>
      <div class="profile__info">
        <p class="profile__nickname">Nana</p>
        <p class="profile__name"> @김나영</p>
      </div>
    </div>
    <h2 class="about__title">
      반갑습니다! <br />
      저는 견고한 UI와 <br />
      기억에 남는 UX를 만드는<br />
      <strong class="about__title-accent">웹 퍼블리셔</strong>에요.
    </h2>
    <div id="about-text" class="about__text">
      <p class="about__text-item">
        저는 3년차 웹 퍼블리셔 김나영입니다.<br />쉽고, 재밌고, 남다르게 표현하는 걸 좋아합니다.
      </p>
      <p class="about__text-item">
        탄탄한 코드 위에 감각적인 UI를 그려냅니다. CSS와 JavaScript를 활용한 동적 모션을 좋아하고, <br class="hide-mobile" />컴포넌트 단위의 유지보수에 최적화된 마크업에
        관심이 많습니다. <br />사용자 입장에서 생각하는 걸
        좋아해서 계속 고민하며 더 나은 방향에 대해 사람들과 얘기 나누곤 합니다. <br />프로덕트가 사용자들의 기억에 남도록 하는 게 저의 일입니다.
      </p>
      <p class="about__text-item">
        저는 제 일을 좋아합니다. 좋아하니까 즐기게 되고, 더 잘하고
        싶어집니다.<br class="hide-mobile" />
        그러다보면 거기에 저만의 특별한 무언가가 담기게 되더라고요.<br />
        목표를 향해 성큼성큼 나아가는 의지, 끊임없이 솟아오르는 영감, 그리고 생기발랄함까지.<br />
        모두 제가 가진 저만의 ‘다움’입니다 :)
      </p>
      <!-- <p class="about__text-item">
        저는 제 일을 좋아합니다. 좋아하니까 즐기게 되고, 더 잘하고
        싶어집니다.<br class="hide-mobile" />
        그러다보면 거기에 저만의 특별한 무언가가 담기게 되더라고요.<br />
        전 그게 세상 어디에도 없는 특별한 ‘나다움’이라고 생각합니다.<br class="hide-mobile" />
        그래서 저는 무얼 하든 제 ‘다움’을 듬뿍 담아내려고 해요.
      </p> -->
      <p class="about__text-item">
        좋아하는 일을 즐기면서 잘하는 것,<br /> 제가 꿈꾸는 저의 모습입니다.
      </p>
      <!-- <p class="about__text-item">
        나나라이크라는 이름은 그런 뜻에서 지었습니다.<br />
        좋아하는 것(like)에 다움(-like)을 담는 것.<br />
        제가 정말 잘합니다! 🙌
      </p> -->
    </div>
  </div>
  <div class="section-connect section-connect-1">
    <span class="section-connect__word">그럼, 이쯤에서 -</span>
  </div>
</section>