<section class="blog">
  <div class="section-connect section-connect-2">
    <span class="section-connect__word">참, 전 요즘 -</span>
  </div>
  <div class="blog__inner">
    <h2 class="blog__title">
      이런저런 기록을&nbsp;<br class="br-mobile">남기고 있어요 <i class="icon icon--write"></i>
    </h2>
    <span class="blog__from"><a href="https://nykim.work" class="blog__anchor" target="_blank" rel="noopener">Published
        by nykim.work</a></span>
    <ul class="blog-list">
    </ul>

  </div>
  <div class="section-connect section-connect-3">
    <span class="section-connect__word">엣헴엣헴</span>
  </div>
  <div class="section-connect section-connect-4">
    <span class="section-connect__word">그래서 말이죠 -</span>
  </div>
</section>