<section id="visual" class="visual">
  <div class="visual__inner">
    <div class="visual__background js-visual-back"></div>
    <div class="visual__container">
      <div class="visual__content js-visual-content">
        <strong class="visual__text">좋아하니까, 나답게</strong>
        <h1 class="visual__logo">
          <picture>
            <source srcset="./images/logo-lg.webp" type="image/webp">
            <img class="visual__logo-img" src="./images/logo-lg.png" alt="로고">
          </picture>
          <span class="blind">nanalike (나나라이크)</span>
        </h1>
        <p class="visual__desc">
          Web Publisher / UI & Markup Developer
        </p>
      </div>
      <div class="scroll-down js-scroll-down">
        <span class="lines">
          <span class="line-1"></span>
          <span class="line-2"></span>
        </span>
        <span class="scroll-down__word">
          Scroll Down !
        </span>
      </div>
      <p class="visual__hello js-visual-hello">
        안녕하세요!<br />
        저는 김나영입니다 :)
      </p>
    </div>
  </div>
</section>
<div id="trigger-2"></div>