<section class="work">
  <h2 class="blind">제 능력이 궁금하신가요?</h2>
  <article class="skill">
    <div class="skill__inner">
      <h3 class="skill__title">
        제가 제일<br />
        잘하는 일을<br />
        소개합니다
        <img class="skill__icon" src="./images/deco-hands.png" alt="아이콘">
      </h3>
      <ul class="skill-list">
        <li class="skill-list__item">
          <strong class="skill-list__name">UI Development</strong>
          <p class="skill-list__desc">
            웹 퍼블리싱<small class="small">HTML, CSS, JS</small>을 빠삭하게
            이해하며 잘 다룹니다.<br />
            유지보수를 고려한 코드 작성, 협업을 위한 가이드 제작 등 탄탄한 업무 프로세스를 지향합니다.
          </p>
        </li>
        <li class="skill-list__item">
          <strong class="skill-list__name">Markup</strong>
          <p class="skill-list__desc">
            웹 표준을 바탕으로 꼼꼼한 시멘틱 마크업을 작성합니다. <br />검색엔진최적화(SEO)를 통해 더 많은 사용자들에게 접근할 수 있도록 합니다.
          </p>
        </li>
        <li class="skill-list__item">
          <strong class="skill-list__name">Co-work</strong>
          <p class="skill-list__desc">
            디자이너, 개발자와 가깝게 일하며, 항상 원활한 협업을 끌어내려고 노력합니다.<br />
            의도를 이해하고 존중하며 '함께' 좋은 결과물을 만듭니다.
          </p>
        </li>

        <li class="skill-list__item">
          <strong class="skill-list__name">Skills</strong>
          <p class="skill-list__desc">
            코드를 잘 그려내기 위해 계속 공부 중! <br />Sass, Vue, Git, Zeplin 등 생산성과 협업을 위한 지식을 배우고 적용하며 공유합니다.
          </p>
        </li>
        <!-- <li class="skill-list__item">
          <strong class="skill-list__name">Responsive Web</strong>
          <p class="skill-list__desc">
            어디서 봐도 예쁜 풀 반응형을 잘 만들어요.<br />
            디자이너의 의도가 화면에 잘 나오도록 궁리합니다.
          </p>
        </li> -->
        <li class="skill-list__item">
          <strong class="skill-list__name">For Users</strong>
          <p class="skill-list__desc">
            다양한 직군과 함께 사용자 입장에서 생각하고 고민하는 걸 좋아해요.<br />반응형, 인터랙션 등 사용자에게 편하고 즐거운 UX를 만드는 데 관심이 많습니다.
          </p>
        </li>
      </ul>
    </div>
  </article>
  <article class="project">
    <div class="project__inner">
      <h3 class="blind">작업한 프로젝트 목록</h3>
      <ul class="project-list">
        <li class="project-list__item">
          <a href="https://www.notion.so/nanalike/3M-Health-Care-Academy-49fe5999db2f49d69cc3fbf2b9faabef"
            target="_blank" rel="noopener" class="project__link">
            <picture>
              <source srcset="./images/project/hca.webp" type="image/webp">
              <img class="project-list__image" src="./images/project/hca.png" alt="3M Health Card Academy (헬스케어 아카데미)">
            </picture>
          </a>
          <p class="project-list__tag">
            <span class="project-list__tag-item">유지보수</span>
            <span class="project-list__tag-item">반응형</span>
          </p>
        </li>
        <li class="project-list__item">
          <a href="https://www.notion.so/nanalike/BlockChain-Voting-508456bfc0c44b8698d802b50e1f98a3" target="_blank"
            rel="noopener" class="project__link">
            <picture>
              <source srcset="./images/project/govote.webp" type="image/webp">
              <img class="project-list__image" src="./images/project/govote.png" alt="go vote (고보트)" />
            </picture>
          </a>
          <p class="project-list__tag">
            <span class="project-list__tag-item">하이브리드</span>
          </p>
        </li>
        <!-- <li class="project-list__item">
          <picture>
            <source srcset="./images/project/sbi.webp" type="image/webp">
            <img class="project-list__image" src="./images/project/sbi.png" alt="SBI 저축은행 스마트 뱅킹" />
          </picture>
          <p class="project-list__tag">
            <span class="project-list__tag-item">유지보수</span>
            <span class="project-list__tag-item">하이브리드</span>
          </p>
        </li> -->
        <li class="project-list__item">
          <a href="https://www.notion.so/nanalike/ICONICO-7ce4a5a68184425f93ffbeb003cba21d" target="_blank"
            rel="noopener" class="project__link">
            <picture>
              <!-- <source srcset="./images/project/iconest.webp" type="image/webp"> -->
              <img class="project-list__image" src="./images/project/ico.png" alt="ICON ICONICO (아이콘 기반 ICO 플랫폼)" />
            </picture>
          </a>
          <p class="project-list__tag">
            <span class="project-list__tag-item">리액트 환경</span>
          </p>
        </li>
        <li class="project-list__item">
          <a href="https://www.notion.so/nanalike/Responsive-Web-Pages-d7441a1950c44633ad6a729550120202" target="_blank"
            rel="noopener" class="project__link">
            <picture>
              <source srcset="./images/project/onepages.webp" type="image/webp">
              <img class="project-list__image" src="./images/project/onepages.png"
                alt="AR GEAR, Chain SIGN, STAYGE (AR 기어, 체인 사인, 스테이지)" />
            </picture>
          </a>
          <p class="project-list__tag">
            <span class="project-list__tag-item">반응형</span>
          </p>
        </li>
        <li class="project-list__item">
          <a href="https://www.notion.so/nanalike/Admin-Pages-548b0a96a88f40698e0a0b674a8ea2d8" target="_blank"
            rel="noopener" class="project__link">
            <picture>
              <!-- <source srcset="./images/project/sbi.webp" type="image/webp"> -->
              <img class="project-list__image" src="./images/project/bc.png" alt="블록체인 캠퍼스" />
            </picture>
          </a>
          <p class="project-list__tag">
            <!-- <span class="project-list__tag-item">유지보수</span> -->
            <span class="project-list__tag-item">어드민</span>
          </p>
        </li>
        <li class="project-list__item">
          <a href="https://nana-like.github.io/Hyodu_v1/" target="_blank" rel="noopener" class="project__link">
            <picture>
              <source srcset="./images/project/hyodu.webp" type="image/webp">
              <img class="project-list__image" src="./images/project/hyodu.png" alt="Hydou (효두 프로젝트)" />
            </picture>
          </a>
          <p class="project-list__tag">
            <span class="project-list__tag-item">반응형</span>
            <span class="project-list__tag-item">모바일퍼스트</span>
          </p>
        </li>
        <li class="project-list__item">
          <a href="https://nykim.net/works/damu/" target="_blank" rel="noopener" class="project__link">
            <picture>
              <source srcset="./images/project/damu.webp" type="image/webp">
              <img class="project-list__image" src="./images/project/damu.png" alt="D'AMUSEMentS (디어뮤즈먼츠)" />
            </picture>
          </a>
          <p class="project-list__tag">
            <span class="project-list__tag-item">UI 모션</span>
            <span class="project-list__tag-item">SEO</span>
          </p>
        </li>
      </ul>
      <p class="project__comment">
        * 그 외에도 다양한 프로젝트에서 사랑을 담아 작업했습니다.
      </p>
      <div class="project__background">
        <span class="project__background-word js-proWord-1">뚝딱뚝딱</span>
        <span class="project__background-word js-proWord-2">열심히</span>
        <span class="project__background-word js-proWord-3">만들었어요</span>
      </div>
    </div>
  </article>
  <article class="recent">
    <div class="recent__inner">
      <h3 class="recent__title">
        제 최근 작업물을&nbsp;<br class="br-mobile" />좀 더 자세히 살펴보세요!
      </h3>
      <div class="recent__background">
        <span class="recent__background-word">Real</span>
        <span class="recent__background-word">Project</span>
        <span class="recent__background-word">Codes</span>
      </div>
      <div class="screen" aria-hidden="true">
        <div class="screen__mobile"></div>
        <div class="screen__shadow"></div>
        <div class="screen__image"></div>
      </div>
      <a href="https://nana-like.github.io/Hyodu_v1/" target="_blank" rel="noopener" class="recent__btn btn-line">
        <span class="btn-text">결과물 보기 (링크)</span>
      </a>
      <button class="js-open-popup btn-small">
        <span class="btn-text">&gt;&nbsp; 이렇게 작업했어요</span>
      </button>
    </div>
  </article>
</section>