<section class="work">
  <h2 class="blind">제 능력이 궁금하신가요?</h2>
  <article class="skill">
    <div class="skill__inner">
      <h3 class="skill__title">
        제가 제일<br />
        잘하는 일을<br />
        소개합니다
      </h3>
      <ul class="skill-list">
        <li class="skill-list__item">
          <strong class="skill-list__name">Web Codes</strong>
          <p class="skill-list__desc">
            웹퍼블리싱<small class="small">HTML, CSS, JS</small>을 빠삭하게
            이해하며 잘 다룹니다.
          </p>
        </li>
        <li class="skill-list__item">
          <strong class="skill-list__name">Responsive Web</strong>
          <p class="skill-list__desc">
            어디서 봐도 예쁜 풀 반응형을 잘 만들어요.<br />
            디자이너의 의도가 화면에 잘 나오도록 궁리합니다.
          </p>
        </li>
        <li class="skill-list__item">
          <strong class="skill-list__name">Markup</strong>
          <p class="skill-list__desc">
            검색엔진최적화(SEO)와 웹접근성을 위해 시멘틱 마크업은 기본으로 꼭
            챙겨요.
          </p>
        </li>
        <li class="skill-list__item">
          <strong class="skill-list__name">Productivity</strong>
          <p class="skill-list__desc">
            SASS, Gulp, Git, Zeplin 등 생산성을 높이기 위해 끊임없이 탐구 중!
          </p>
        </li>
        <li class="skill-list__item">
          <strong class="skill-list__name">Co-work</strong>
          <p class="skill-list__desc">
            개발자와의 협업을 위해 마감 작업까지 꼼꼼하게 해요.<br />
            하이브리드 앱, 리액트 환경에서 작업해 본 적이 있습니다.
          </p>
        </li>
        <li class="skill-list__item">
          <strong class="skill-list__name">For users</strong>
          <p class="skill-list__desc">
            다양한 직군과 함께 사용자 입장에서 생각하고 고민하는 걸 좋아해요.<br />사용자에게 편하고 즐거운 UX를 만드는 데 관심이 많아요.
          </p>
        </li>
      </ul>
    </div>
  </article>
  <article class="project">
    <div class="project__inner">
      <h3 class="blind">작업한 프로젝트 목록</h3>
      <ul class="project-list">
        <li class="project-list__item">
          <picture>
            <source srcset="./images/project/hca.webp" type="image/webp">
            <img class="project-list__image" src="./images/project/hca.png" alt="3M Health Card Academy (헬스케어 아카데미)">
          </picture>
          <p class="project-list__tag">
            <span class="project-list__tag-item">유지보수</span>
            <span class="project-list__tag-item">반응형</span>
          </p>
        </li>
        <li class="project-list__item">
          <picture>
            <source srcset="./images/project/govote.webp" type="image/webp">
            <img class="project-list__image" src="./images/project/govote.png" alt="go vote (고보트)" />
          </picture>
          <p class="project-list__tag">
            <span class="project-list__tag-item">하이브리드</span>
          </p>
        </li>
        <li class="project-list__item">
          <picture>
            <source srcset="./images/project/sbi.webp" type="image/webp">
            <img class="project-list__image" src="./images/project/sbi.png" alt="SBI 저축은행 스마트 뱅킹" />
          </picture>
          <p class="project-list__tag">
            <span class="project-list__tag-item">유지보수</span>
            <span class="project-list__tag-item">하이브리드</span>
          </p>
        </li>
        <li class="project-list__item">
          <picture>
            <source srcset="./images/project/iconest.webp" type="image/webp">
            <img class="project-list__image" src="./images/project/iconest.png" alt="ICON ICONICO (아이콘 기반 ICO 플랫폼)" />
          </picture>
          <p class="project-list__tag">
            <span class="project-list__tag-item">리액트 환경</span>
          </p>
        </li>
        <li class="project-list__item">
          <picture>
            <source srcset="./images/project/onepages.webp" type="image/webp">
            <img class="project-list__image" src="./images/project/onepages.png"
              alt="AR GEAR, Chain SIGN, STAYGE (AR 기어, 체인 사인, 스테이지)" />
          </picture>
          <p class="project-list__tag">
            <span class="project-list__tag-item">반응형</span>
          </p>
        </li>
        <li class="project-list__item">
          <picture>
            <source srcset="./images/project/hyodu.webp" type="image/webp">
            <img class="project-list__image" src="./images/project/hyodu.png" alt="Hydou (효두 프로젝트)" />
          </picture>
          <p class="project-list__tag">
            <span class="project-list__tag-item">반응형</span>
            <span class="project-list__tag-item">모바일퍼스트</span>
          </p>
        </li>
        <li class="project-list__item">
          <picture>
            <source srcset="./images/project/damu.webp" type="image/webp">
            <img class="project-list__image" src="./images/project/damu.png" alt="D'AMUSEMentS (디어뮤즈먼츠)" />
          </picture>
          <p class="project-list__tag">
            <span class="project-list__tag-item">UI 모션</span>
            <span class="project-list__tag-item">SEO</span>
          </p>
        </li>
      </ul>
      <p class="project__comment">
        * 그 외에도 다양한 프로젝트에서 사랑을 담아 작업했습니다.
      </p>
      <div class="project__background">
        <span class="project__background-word js-proWord-1">뚝딱뚝딱</span>
        <span class="project__background-word js-proWord-2">뚝딱뚝딱</span>
        <span class="project__background-word js-proWord-3">뚝딱뚝딱</span>
      </div>
    </div>
  </article>
  <article class="recent">
    <div class="recent__inner">
      <h3 class="recent__title">
        제 최근 작업물을&nbsp;<br class="br-mobile" />좀 더 자세히 살펴보세요!
      </h3>
      <div class="recent__background">
        <span class="recent__background-word">Real</span>
        <span class="recent__background-word">Project</span>
        <span class="recent__background-word">Codes</span>
      </div>
      <div class="screen" aria-hidden="true">
        <div class="screen__mobile"></div>
        <div class="screen__shadow"></div>
        <div class="screen__image"></div>
      </div>
      <button class="js-open-popup recent__btn btn-line">
        <span class="btn-text">코드 까보기</span>
      </button>
    </div>
  </article>
</section>